@mixin nav-effect {
  position: relative;
  display: inline-block;

  &::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .5s;
  }

  &:hover::after {
      transform: scale(1, 1);
  }
}

body {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.mobile-head {
  display: none;
}

.nav-toggle {
  display: none;
}

.inner-header {
  width: 100%;
  height: 100vh;
  background: url('../img/top-img1.png') center center / cover no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  position: relative;
}

#svg-animation .cls {
  fill: none;
  stroke: #fff;
  stroke-width: 20;
  stroke-miterlimit: 10;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-dasharray: 1500;
  stroke-dashoffset:1500;
}

.top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-logo {
  width: 40vw;
}

.gnav {
  color: #fff;
  height: inherit;
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
  font-family: 'Literata', serif;
}

.gnav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gnav__item {
  transform: rotate(90deg);
}

.gnav__link {
  @include nav-effect;
}

#page_top{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 2%;
  bottom: 5%;
  background: #3f98ef;
  opacity: 0.8;
  border-radius: 50%;
  z-index: 2;
}

#page_top a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-decoration: none;
}

#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.about, .food, .drink, .access {
  margin: 80px auto;
  font-family: 'EB Garamond', serif;
}

.about__title-block {
  display: flex;
  background-color: #eef;
  height: 600px;
}

.about__title-img {
  width: 45%;
}

.about__title-text {
  margin: 0 auto;
}

.about__title, .food__title, .drink__title {
  font-size: 3rem;
  text-align: center;
  padding: 40px;
  margin: 60px auto;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.food__title::before, .food__title::after,
.drink__title::before, .drink__title::after,
.access__title::before, .access__title::after {
  content: '';
  border-top: 2px solid #b0c4de;
  flex-grow: 1;
}

.food__title::before, .drink__title::before, .access__title::before {
  margin-right: 2rem;

}

.food__title::after,  .drink__title::after, .access__title::after {
  margin-left: 2rem;
}

.about__text-block {
  margin: 60px 20px 50px 20px;
}

.about__text, .food__text, .drink__text, .access__text {
  text-align: center;
}

.about__text {
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 2.4rem;
}

.pc-none {
  display: none;
}

.food__course, .drink__course {
  margin: 0 auto 10px;
  text-align: center;
  line-height: 2;
  font-size: 1.1rem;
  border: dashed 2px #b0c4de;
  padding: 30px;
  width: 40%;
}

.about__img-block {
  display: flex;
  justify-content: space-around;
  margin: 80px auto;
}

.about__img-cap {
  width: 38%;
  overflow: hidden;
  position: relative;

  .caption {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
    p {
      line-height: 2.0;
    }
  }

  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  &:hover .mask {
    opacity: 1;
    padding-top: 80px;
  }
}

.about__img {
  width: 100%;
  height: 100%;
}

.food__img-block, .drink__img-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 40px;
}

.food__menu, .drink__menu {
  width: 50%;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drink__menu-2, .drink__menu-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.food__img, .drink__img {
  width: 80%;
  margin: auto;
}

.food__text, .drink__text {
  margin: 20px 0;
}

.and-more {
  margin: -20px 80px 40px auto;
  text-align: right;
  display: block;

  p {
    font-size: 1.4rem;
  }
}

.access__title {
  font-size: 3rem;
  text-align: center;
  padding: 40px;
  margin: 40px auto 0 auto;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.access__content {
  display: flex;
  align-items: center;
}

.access__text-block {
  margin: 0 auto;
}

.access__list {
  list-style: none;
  line-height: 3rem;
  padding-bottom: 20px;
}

.access__map {
  width: 50%;
}

.footer {
  background-color: #4169e1;
  color: #fff;
  padding: 60px 40px 40px;
  display: flex;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
}

.footer-inner {
  margin: 0 40px;
}

.footer__content {
  display: flex;
}

.logo-img {
  width: 10vw;
  margin-right: 40px;
  background: #fff;
}

.ft-nav {
  width: 80%;
  margin: 40px 0 auto;
  border-bottom: 1.5px solid #fff;
}

.ft-nav__list {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.ft-nav__item {
  font-size: 1.5rem;
  margin: 10px 40px;
}

.ft-nav__link {
  @include nav-effect;
}

.footer__cp {
  text-align: center;
  margin-top: 40px;
}

@media screen and (min-width: 1500px) {

  .about__title-block {
    height: 800px;
  }

  .about__title {
    margin: 120px 0 0 0;
  }

  .about__text-block {
    margin: 120px;
  }

  .about__text {
    line-height: 2.8rem;
  }

  .and-more {
    margin-right: 100px;

    p {
      font-size: 1.6rem;
    }
  }
}

/* tablet */

@media screen and (min-width: 616px) and (max-width: 1023px) {
  body {
    font-size: 1.2rem;
  }

  .sp-none {
    display: none;
  }

  .pc-none {
    display: block;
  }

  .mobile-head {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 11vh;
    background: rgba(65, 105, 225, 0.9);
    z-index: 100;

    .mobile-logo {
      height: 8vh;
      margin: 1vh 0 0 1vh;
    }
  }

  .nav-toggle, .nav-toggle span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }

  .nav-toggle {
    display: block;
    margin: auto 10px auto auto;
    width: 50px;
    height: 36px;
    position: relative;
    cursor: pointer;

    span {
      position: absolute;
      width: 100%;
      height: 4px;
      background: #fff;
      border-radius: 4px;

      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 16px;
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }

    .active span:nth-of-type(1) {
      -webkit-transform: translateY(20px) rotate(-225deg);
      transform: translateY(16px) rotate(-225deg);
    }
    .active span:nth-of-type(2) {
      -webkit-transform: translateY(0) rotate(225deg);
      transform: translateY(0) rotate(225deg);
    }
    .active span:nth-of-type(3) {
      opacity: 0;
      -webkit-transform: translateY(0) rotate(-225deg);
      transform: translateY(0) rotate(-225deg);
    }
  }

  .gnav {
    overflow: hidden;
    margin-top: 9.9vh;
    justify-content: center;
    width: 100%;
    position: fixed;
    opacity: 1;
    z-index: 40;
    background: rgba(225, 225, 225, 0.9);
    color: #222;
    transform: translateX(1000px);
    transition: all 0.6s ease;

    .gnav__list {
      height: 80vh;

      .gnav__item {
        font-size: 1.8rem;
        transform: rotate(0);
      }
    }
  }

  .gnav__link::after {
    content: '';
    display: none;
  }

  .open {
    transition: all 0.6s ease;
    transform: translateX(0);
  }

  .top-logo {
    width: 60vw;
  }

  .about, .food, .drink, .access {
    margin: -50px auto 40px;
    font-family: 'EB Garamond', serif;
    padding-top: 50px;
  }

  .about {
    margin-top: 30px;
  }

  .about__title {
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .about__title-block {
    height: 500px;
  }

  .about__text-block {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .about__title-img {
    height: auto;
  }

  .about__img-block {
    margin: 60px auto 10px;
    display: flex;
  }

  .about__img-cap {
    width: 40%;
    margin: 10px auto;

    .caption {
      font-size: 1.0rem;
      color: #000;

      p {
        line-height: 1.5;
      }
    }

    .mask {
      position: static;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0);
      }

    &:hover .mask {
      opacity: 1;
      padding-top: 0;
    }
  }

  .about__img {
    width: 100%;
    height: 70%;
    margin: 1rem 0;
  }

  .food__img-block, .drink__img-block {
    display: block;
    margin: 0;
  }

  .food__menu, .drink__menu {
    width: 95%;
    margin: 0 0.5rem 3rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .and-more {
    margin-right: 40px;
  }

  .drink__menu {
    justify-content: space-around;
  }

  .drink-sp {
    display: flex;
    flex-direction: column;
  }

  .drink__menu-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: space-around;
    margin-left: -30px;
  }

  .drink__menu-3 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;

    .drink__img {
      margin-left: 160px;
    }
  }

  .food__img, .drink__img {
    width: 50%;
    margin: 0 0.5rem;
  }

  .food__text, .drink__text {
    margin: 0;
  }

  .food__course, .drink__course {
    width: 60vw;
    padding: 20px;
  }

  .access__title {
    font-size: 3rem;
    text-align: center;
    padding-top: 0;
    padding-bottom: 40px;
    font-weight: lighter;
  }

  .access__content {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  .access__text-block {
    margin: 0 auto;
  }

  .access__list {
    list-style: none;
    line-height: 2.3rem;
    font-size: 1.0rem;
    padding-bottom: 20px;
    margin-left: 40px;
  }

  .access__map {
    width: 70%;
    padding-left: 2.3rem;
  }

  .footer {
    background-color: #4169e1;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
  }

  .footer-inner {
    margin: 0 10px;
  }

  .footer__content {
    display: flex;
  }

  .logo-img {
    width: 70%;
    margin: 20px 20px 0 0;
  }

  .ft-nav {
    width: 80%;
    margin: 20px 0 auto;
    border-bottom: 1.5px solid #fff;
  }

  .ft-nav__list {
    flex-direction: column;

    .ft-nav__link::after {
      content: '';
      display: none;
    }
  }

  .ft-nav__item {
    text-align: center;
  }
}

/*  SP  */

@media only screen and (max-width: 615px) {

  body {
    font-size: 1.2rem;
  }

  .inner-header {
    background-attachment: scroll;
  }

  .sp-none {
    display: none;
  }

  .pc-none {
    display: block;
  }

  .mobile-head {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 11vh;
    background: rgba(65, 105, 225, 0.9);
    z-index: 100;

    .mobile-logo {
      height: 8vh;
      margin: 1vh 0 0 1vh;
    }
  }

  .nav-toggle, .nav-toggle span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }

  .nav-toggle {
    display: block;
    margin: auto 10px auto auto;
    width: 40px;
    height: 32px;
    position: relative;
    cursor: pointer;

    span {
      position: absolute;
      width: 100%;
      height: 4px;
      background: #fff;
      border-radius: 4px;

      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 14px;
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }

    .active span:nth-of-type(1) {
      -webkit-transform: translateY(20px) rotate(-225deg);
      transform: translateY(14px) rotate(-225deg);
    }
    .active span:nth-of-type(2) {
      -webkit-transform: translateY(0) rotate(225deg);
      transform: translateY(0) rotate(225deg);
    }
    .active span:nth-of-type(3) {
      opacity: 0;
      -webkit-transform: translateY(0) rotate(-225deg);
      transform: translateY(0) rotate(-225deg);
    }
  }

  .gnav {
    overflow: hidden;
    margin-top: 9.9vh;
    justify-content: center;
    width: 100%;
    position: fixed;
    opacity: 1;
    z-index: 40;
    background: rgba(225, 225, 225, 0.9);
    color: #222;
    transform: translateX(1000px);
    transition: all 0.6s ease;

    .gnav__list {
      height: 80vh;

      .gnav__item {
        font-size: 1.8rem;
        transform: rotate(0);
      }
    }
  }

  .gnav__link::after {
    content: '';
    display: none;
  }

  .open {
    transition: all 0.6s ease;
    transform: translateX(0);
  }

  .top-logo {
    width: 60vw;
  }

  .about, .food, .drink, .access {
    margin: -50px auto 40px;
    font-family: 'EB Garamond', serif;
    padding-top: 50px;
  }

  .about {
    margin-top: 30px;
  }

  .about__title-block {
    background: #fff;
    position: relative;
  }

  .about__title-img {
    position: absolute;
    top: 8rem;
    width: 80%;
  }

  .about__title, .food__title, .drink__title {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 10px auto;
    width: 70%;
  }

  .about__title::before, .about__title::after {
    content: '';
    border-top: 2px solid #b0c4de;
    flex-grow: 1;
  }

  .about__title::before {
    margin-right: 2rem;
  }

  .about__title::after {
    margin-left: 2rem;
  }

  .about__title {
    height: 50px;
  }

  .about__title-text {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }

  .about__text-block {
    margin: 200px 0 0 0;
    background: rgba(60, 60, 60, 0.8);
    padding: 5% 2%;
    width: 80%;
    float: right;
  }

  .clear-fix::after {
    content: '';
    display: block;
    clear: both;
  }

  .about__text {
    font-size: 1.1rem;
    line-height: 2.0;
    color: #fff;
  }

  .about__img-block {
    margin: 60px auto 10px;
    display: flex;
    flex-direction: column;
  }

  .about__img-cap {
    width: 73%;
    margin: 10px auto;

    .caption {
      font-size: 1.0rem;
      color: #000;

      p {
        line-height: 1.5;
      }
    }

    .mask {
      position: static;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0);
    }

    &:hover .mask {
      opacity: 1;
      padding-top: 0;
    }
  }

  .about__img {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
  }

  .food__img-block, .drink__img-block {
    display: block;
    margin: 0;
  }

  .food__menu, .drink__menu {
    width: 95%;
    margin: 0 0.5rem 3rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .and-more {
    margin-right: 20px;
  }

  .drink__menu {
    justify-content: space-around;
  }

  .drink-sp {
    display: flex;
    flex-direction: column;
  }

  .drink__menu-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: space-around;
    margin-left: -24px;
  }

  .drink__menu-3 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .food__img, .drink__img {
    width: 50%;
    margin: 0 0.5rem;
  }

  .food__text, .drink__text {
    margin: 0;
  }

  .food__course, .drink__course {
    width: 80vw;
    padding: 20px;
  }

  .access__title {
    font-size: 3rem;
    text-align: center;
    padding-top: 0;
    padding-bottom: 40px;
    font-weight: lighter;
    width: 70%;
  }

  .access__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .access__text-block {
    margin: 0 auto;
  }

  .access__list {
    list-style: none;
    line-height: 2.3rem;
    font-size: 1.0rem;
    padding-bottom: 20px;
  }

  .access__map {
    width: 90%;
    padding-left: 2.3rem;
  }

  .footer {
    background-color: #4169e1;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
  }

  .footer-inner {
    margin: 0 10px;
  }

  .footer__content {
    display: flex;
  }

  .logo-img {
    width: 88%;
    margin: 20px 20px 0 0;
  }

  .ft-nav {
    width: 80%;
    margin: 20px 0 auto;
    border-bottom: 1.5px solid #fff;
  }

  .ft-nav__list {
    flex-direction: column;

    .ft-nav__link::after {
      content: '';
      display: none;
    }
  }

  .ft-nav__item {
    text-align: center;
  }
}
